html, body{
	margin-top: 0px;
	margin: auto;
	width: 100%;
}

body{
	font-family: "Montserrat";
}

.intro{

    background-image: url("http://az616578.vo.msecnd.net/files/2016/10/17/636122739856255638-1137033243_Big-data-Exhaustive-review-pulls-together-evidence-on-food-groups-and-diet-related-disease.jpg");
    min-height: 100vh; 

    margin-top: 0px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
	margin-top: 0px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(102,105,107,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(102,105,107,1);
	box-shadow: 0px 0px 5px 2px rgba(102,105,107,1);
}

.nav-bar {
	font-size:12px;
	letter-spacing:2px;
}

.container{

}

.mobile-header{
	width: 100%;
	visibility: hidden;
	margin-top: 10px;
}

.mobile-nav-bar{
	width: 100%;
	visibility: none;
}

.burger-menu{
	float: right;
}

.mobile-nav-link{
	width: 100%;
	padding: 5px;
}

@media only screen and (max-width: 760px){
  .nav-bar { display: none; }
  .header-text{margin-top: 50px;}
  .mobile-header{visibility: visible;}
}

.nav-bar{
	margin: auto;
	padding: 30px;
}

.nav-bar a{
	text-decoration: none;
}

.nav-link{
	margin-right: 50px;
	font-size: 24px;
	color: #000;

}

.nav-link-active{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5462f;
}

.header-text{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	color: #fff;
}

.side-lines {
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.side-lines span {
	background: #fff;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}

.side-lines:before {
	position: absolute;
	background: #e5462f;
	content: "";
	display: block;
	height: 3px;
	top: 50%;
	width: 100%;
}

.location{
	text-align: center;
	margin-top: 20px;

}

.map{
	margin: auto;
	display: inline-block;
}

.address{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 10px;
	width: 400px;
	font-size: 20px;
}

.delivery-information{
	text-align: center;
	margin-top: 20px;
}

.delivery-information-left{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.delivery-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.delivery{
	text-align: center;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}



.find-us-online{
	text-align: center;
	margin-top: 20px;
}

.review{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}


.instagram{
	display: inline-block;
	width: 400px;
}

.specials-today{
	text-align: center;
	margin-top: 20px;
}

.specials-information-left{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.specials-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

/* FOOTER */

.footer{
	margin-top: 50px;

}
.footer-left{
	width: 400px;
	display: inline-block;
}

.footer-left-logo{
	vertical-align: top;
	display: inline-block;
	width: 150px;
}

.footer-left-info{
	display: inline-block;
	width: 200px;
}

.footer-right{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}

/* MENU CSS */

.sandwiches{
	text-align: center;
	margin-top: 30px;
}
.sandwich{

	width: 320px;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: top;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
}

.sandwich img{
	width: 100%;
}

.breakfast{
	text-align: center;
	margin-top: 30px;
}

.soup_and_salad{
	text-align: center;
	margin-top: 30px;
}

.create_your_own{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.create_your_own_left{
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 400px;
}

.create_your_own_left img{
	display: inline-block;
	width: 100%;
}

.create_your_own_right{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

.sides_and_extras{
	text-align: center;
	margin-top: 30px;
}