
html {
	margin-top: 0px;
	margin: auto;
	position: relative;
	min-height: 100;
	overflow-x: hidden;
}

body{
	margin-top: 0px;
	margin: auto;
	width: 100%;
	background-color: #f7f7f7;
	font-family: "Montserrat";
	overflow-x: hidden;
}

.side-lines span{
	letter-spacing:2px;
	font-weight:bold;
	color: #EF4836;
}
.intro{
	background: url(../images/newsandwich.jpg) repeat bottom center scroll;
	width: 100%;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.nav-bar{
	width: 100%;
	position: fixed;
	letter-spacing:2px;
	z-index: 10;
	margin: auto;
	padding: 10px;
	text-align: center;
	color: #FFF;
}

.nav-bar-background{
	background-color: #f7f7f7;
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;

    /*-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	/*box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);*/
}

.nav-bar-background a{
	color: #000;
}

.mobile-header{
	width: 100%;
	padding: 20px;
	position: fixed;

	background-color: #f7f7f7;
	z-index: 10;

	/*-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);*/
}

.mobile-nav-bar{
	margin-top: 10px;
	width: 100%;
}

.burger-menu{
	float: right;
}

.mobile-nav-link{
	text-align:right;
	width: 100%;
	padding: 8px;
	color:#000;
	font-size:15px;
}

.mobile-nav-link-active{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #EF4836;	
}

.mobile-nav-bar a .mobile-nav-link-active{
	color: #EF4836;
}

span {
	line-height:200%;
}
p {
	line-height:150%;
}

a {
	text-decoration:none;
	color:#000;
}

p a:hover {
	color:#EF4836;
}


.nav-bar a{
	text-decoration: none;
}

.nav-link{
	margin-right: 50px;
	font-size: 16px;
	letter-spacing:3px;
	color: #FFF;
}

.img-nav-link{
	margin-right: 50px;
}

.img-nav-link:hover {
	text-decoration:none;
}

.nav-link:hover {
	color:#000;
	border-bottom: solid 3px #EF4836;
	transition: all 0.2s;
}

.nav-link-active{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #EF4836;
}

.header-text{
	text-align: center;
	position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.red {
	color:#EF4836;
}
.highlight{
	letter-spacing:2px;
	line-height:120%;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
    margin: auto;
    display: block;
	text-shadow: 3px 3px 50px #FFF;
	-webkit-filter: drop-shadow(5px 5px 30px rgba(0,0,0,1));
  	filter: drop-shadow(5px 5px 20px rgba(0,0,0,1));
  	color: white;
}

.down-arrow{
	width: 100%;
	margin-bottom: 100px;
	position: absolute;
    bottom: 0;
    text-align: center;
}

.down-arrow img{
	width: 60px;
}


.call-now {
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 96%;
  margin: auto;
  margin-top: 30px;
}

.call-now span {
	color:#EF4836;
	background: #f7f7f7;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	font-weight:bolder;
}

.side-lines {
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 96%;
  margin: auto;
  margin-top: 30px;
}

.side-lines span {
	background: #f7f7f7;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}

.side-lines:before {
	position: absolute;
	background: #EF4836;
	content: "";
	display: block;
	height: 3px;
	top: 50%;
	width: 100%;
}

/* INDEX */
.catering-information{
	text-align: center;
	margin-top: 20px;
}

.catering-information-left{
	display: inline-block;
	width: 400px;
	font-size: 20px;
	margin-right: 20px;
}

.catering-information-left img{
	width: 100%;
}

.catering-information-right{
	vertical-align: top;
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.location{
	text-align: center;
	margin:auto;
}

.map{
	display: inline-block;
	margin-right: 20px;
}

.address{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 500px;
	font-size: 20px;
}

.delivery-information{
	width: 500px;
	margin: auto;
}

.delivery{
	margin: auto;
	width: 400px;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

.delivery-information-left{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 20px;
}

.find-us-online{
	text-align: center;
	margin-top: 20px;
	width: 100%;
}

.review{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-right: 15px;
}

.instagram{
	display: inline-block;
	width: 400px;
}

.specials-today{
	text-align: center;
	margin-top: 20px;
}

.specials-information-left{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.specials-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

/* FOOTER */
.footer{
	margin-top: 100px;
	position: absolute;
	bottom: 0;
	width: 100%;
  
	color: #000;
    background: #eee;
    text-align: center;
}

.footer-left{
	margin-top: 40px;
	width: 400px;
	display: inline-block;
}

.footer-left-logo{
	margin-right: 20px;
	display: inline-block;
	width: 150px;
}

.footer-left-info{
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	width: 200px;
}

.footer-right{
	margin-top: 40px;
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}

/* MENU CSS */
.sandwiches{
	text-align: center;
	margin-top: 30px;
}

.sandwich{

	width: 400px;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: top;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
}

.sandwich img{
	width: 100%;
	height: 280px;
}

.breakfast{
	text-align: center;
	margin-top: 30px;
}

.soup_and_salad{
	text-align: center;
	margin-top: 30px;
}

.create_your_own{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.create_your_own_left{
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 400px;
}

.create_your_own_left img{
	display: inline-block;
	width: 100%;
}

.create_your_own_right{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

.sides_and_extras{
	text-align: center;
	margin-top: 30px;
}

/* catering page */

.foot_6{
	text-align: center;
	margin-top: 30px;
}

.sandwich_wraps_platters{
	text-align: center;
	margin-top: 30px;
}

.lunch_boxes{
	text-align: center;
	margin-top: 30px;
}

.breakfast_platters{
	text-align: center;
	margin-top: 30px;
}

.Party_Platters{
	text-align: center;
	margin-top: 30px;
}

.Beverage_Packages{
	text-align: center;
	margin-top: 30px;
}

.cataring-note{
	text-align: center;
	margin-top: 30px;
}

/* ABOUT US PAGE */

.about{
	text-align: center;
	margin-bottom:100px;
}

.about img{
	width: 300px;
}

.about-left{
	vertical-align: top;
	display: inline-block;
}

.about-right{
	font-size:18px;
	vertical-align: top;
	display: inline-block;
	margin-left: 30px;
	text-align: left;
	width: 500px;
}

/* CONTACT PAGE PAGE */

.contact{
	margin:auto;
	margin-bottom:50px;
	text-align: middle;
}

.contact-form{
	margin: auto;
	width: 400px;
}

/* MOBILE */
@media only screen and (max-width: 760px){

  .nav-bar { display: none; }
  .mobile-header{visibility: visible;}
  .mobile-nav-bar{visibility: visible;}

  /*index*/
  .catering-information-left{width: 90%; margin-right: 0px;}
  .catering-information-left img{width: 100%;}
  .catering-information-right{width: 90%; margin-top: 15px;}

  .map{width: 90%; margin-right: 0px;}
  .map iframe{width: 100%;}
  .address{width: 90%; margin-top: 15px;}

  .delivery-information{width: 90%; margin-right: 0px;}

  .find-us-online{width: 90%; margin: auto; margin-top: 20px;}
  .review{width: 100%; margin-right: 0px;}
  .instagram{width: 100%; margin-top: 20px;}

  /* menu */
  .sandwich{width: 90%; margin-left: 5%; margin-right: 5%;}

  /* about */
  .about{width: 90%; margin: auto;}
  .about img{width: 100%;}
  .about-right{margin-left: 0px; margin-top: 20px; width: 100%;}

  .contact{width: 90%;}
  .contact form{width: 100%;}

}
