html, body{
	margin-top: 0px;
	margin: auto;
	width: 100%;
	background-color: #f7f7f7;
}

body{
	font-family: "Montserrat";
}

img { 
   border:1px solid #021a40;
}

.side-lines span {
	letter-spacing:2px;
	font-weight:bold;
	color: #e5462f;
}
.intro{
	background: url(../images/newsandwich.jpg) repeat bottom center scroll;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.down-arrow{
	width: 100%;
	margin-bottom: 100px;
	position: absolute;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}

.down-arrow img{
	width: 60px;
}

.nav-bar{
	width: 100%;
	position: fixed;
	letter-spacing:2px;
	z-index: 10;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.nav-bar-background{
	background-color: #f7f7f7;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.mobile-header{
	width: 100%;
	padding: 20px;
	position: fixed;

	background-color: #f7f7f7;
	z-index: 10;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.mobile-nav-bar{
	margin-top: 10px;
	width: 100%;
}

.burger-menu{

	float: right;
}

.mobile-nav-link{
	text-align:right;
	width: 100%;
	padding: 7px;
	color:#000;
	font-size:15px;
}

a:visited {
	color:#000;
}

@media only screen and (max-width: 760px){
  .nav-bar { display: none; }
  .mobile-header{visibility: visible;}
  .mobile-nav-bar{visibility: visible;}
}


.nav-bar a{
	text-decoration: none;
}

.nav-link{
	margin-right: 50px;
	font-size: 16px;
	letter-spacing:3px;
	color: #000;
}

.nav-link:hover {
	border-bottom: solid 3px red;
	color:#000;
	transition: all 0.1s;
}

.nav-link-active{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5462f;
}

.header-text{
	text-align: center;
	font-family: "Montserrat";
	letter-spacing:2px;
	font-size: 30px;
	color: #000;
}

span.highlight {
	background:#f7f7f7;
}


.call-now {
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 96%;
  margin: auto;
  margin-top: 30px;
}

.call-now span {
	color:#e5462f;
	background: #f7f7f7;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	font-weight:bolder;
}

.side-lines {
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 96%;
  margin: auto;
  margin-top: 30px;
}

.side-lines span {
	background: #f7f7f7;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}

.side-lines:before {
	position: absolute;
	background: #e5462f;
	content: "";
	display: block;
	height: 3px;
	top: 50%;
	width: 100%;
}

.location{
	text-align: center;
	margin-top: 20px;
}

.map{
	width: 400px;
	display: inline-block;
}

.address{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.delivery-information{
	text-align: center;
	margin-top: 20px;
}

.delivery-information-left{
	display: inline-block;
	text-align: left;
	width: 450px;
	font-size: 20px;
}

.delivery-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.delivery{
	text-align: center;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

.find-us-online{
	text-align: center;
	margin-top: 20px;
}

.review{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}


.instagram{
	display: inline-block;
	width: 400px;
}

.specials-today{
	text-align: center;
	margin-top: 20px;
}

.specials-information-left{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.specials-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

/* FOOTER */
.footer{
	/*color: #FFF;
	background-color: #3c3c3c;
	text-align: center;
	margin: auto;*/
	color: #000;
    background: #eee;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 11vw;

}
.footer-left{
	margin-top: 40px;
	width: 400px;
	display: inline-block;
}

.footer-left-logo{
	vertical-align: top;
	display: inline-block;
	width: 150px;
}

.footer-left-info{
	display: inline-block;
	width: 200px;
}

.footer-right{
	margin-top: 40px;
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}

/* MENU CSS */
.sandwiches{
	text-align: center;
	margin-top: 30px;
}

.sandwich{

	width: 400px;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: top;
	text-align: center;
	margin-top: 30px;
	display: inline-block;
}

.sandwich img{
	width: 100%;
}

.breakfast{
	text-align: center;
	margin-top: 30px;
}

.soup_and_salad{
	text-align: center;
	margin-top: 30px;
}

.create_your_own{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.create_your_own_left{
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 400px;
}

.create_your_own_left img{
	display: inline-block;
	width: 100%;
}

.create_your_own_right{
	margin-left: 10px;
	margin-right: 10px;
	text-align: left;
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

.sides_and_extras{
	text-align: center;
	margin-top: 30px;
}

/* catering page */

.foot_6{
	text-align: center;
	margin-top: 30px;
}

.sandwich_wraps_platters{
	text-align: center;
	margin-top: 30px;
}

.lunch_boxes{
	text-align: center;
	margin-top: 30px;
}

.breakfast_platters{
	text-align: center;
	margin-top: 30px;
}

.Party_Platters{
	text-align: center;
	margin-top: 30px;
}

.Beverage_Packages{
	text-align: center;
	margin-top: 30px;
}

.cataring-note{
	text-align: center;
	margin-top: 30px;
}

/* ABOUT US PAGE */

.about{
	text-align: center;
}

.about img{
	width: 300px;
}

.about-left{
	vertical-align: top;
	display: inline-block;
}

.about-right{
	font-size:18px;
	vertical-align: top;
	display: inline-block;
	margin-left: 30px;
	text-align: left;
	width: 400px;
}

/* CONTACT PAGE PAGE */

.contact{
	margin: auto;
	text-align: middle;
}

.contact-form{
	margin: auto;
	width: 400px;
}
