html, body{
	margin: auto;
	width: 100%;
	background-color: #e6e6e6;
	 
}

body{
	background-image: url("../images/background.png");
}

.main{
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(102,105,107,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(102,105,107,1);
	box-shadow: 0px 0px 5px 2px rgba(102,105,107,1);
}

.container{

}

.mobile-header{
	width: 100%;
	visibility: none;
	margin-top: 10px;
}

.mobile-nav-bar{
	width: 100%;
	visibility: none;
}

.burger-menu{
	float: right;
}

.mobile-nav-link{
	width: 100%;
	padding: 5px;
}

@media only screen and (max-width: 760px){
  .nav-bar { display: none; }
  .header-text{margin-top: 50px;}
  .mobile-header{visibility: visible;}
}

/*
$( document ).ready(function() {      
    var is_mobile = false;

    if( $('#some-element').css('display')=='none') {
        is_mobile = true;       
    }

    // now i can use is_mobile to run javascript conditionally

    if (is_mobile == true) {
        //Conditional script here
    }
 });

*/

.nav-bar{
	margin: auto;
	padding: 30px;
}

.nav-bar a{
	text-decoration: none;
}

.nav-link{
	margin-right: 50px;
	font-size: 24px;
	color: #000;

}

.nav-link-active{
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #e5462f;
}

.header-text{
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

.side-lines {
  position: relative;
  text-align: center;
  font-size: 24px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.side-lines span {
	background: #fff;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}

.side-lines:before {
	position: absolute;
	background: #e5462f;
	content: "";
	display: block;
	height: 3px;
	top: 50%;
	width: 100%;
}

.location{
	text-align: center;
	margin-top: 20px;

}

.map{
	margin: auto;
	display: inline-block;
}

.address{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 10px;
	width: 400px;
	font-size: 20px;
}

.delivery-information{
	text-align: center;
	margin-top: 20px;
}

.delivery-information-left{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.delivery-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.delivery{
	text-align: center;
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}



.find-us-online{
	text-align: center;
	margin-top: 20px;
}

.review{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}


.instagram{
	display: inline-block;
	width: 400px;
}

.specials-today{
	text-align: center;
	margin-top: 20px;
}

.specials-information-left{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.specials-information-right{
	display: inline-block;
	text-align: left;
	width: 400px;
	font-size: 20px;
}

.footer{
	margin-top: 50px;

}
.footer-left{
	width: 400px;
	display: inline-block;
}

.footer-left-logo{
	vertical-align: top;
	display: inline-block;
	width: 150px;
}

.footer-left-info{
	display: inline-block;
	width: 200px;
}

.footer-right{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}